

.breadcrumb {
    width: 1010px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    font-size: 12px
}

.breadcrumb > a {
    color: #999
}

.breadcrumb > a:hover {
    color: #238bcb
}

.breadcrumb > strong {
    font-weight: 400
}

.account {
    width: 100%;
    height: 30px;
    line-height: 30px
}

.main_v {
    margin: 0 auto;
    overflow: hidden;
    width: 1010px
}

.account {
    width: 195px;
    float: left;
    height: 500px;
    background-color: #2eaae2
}

.email-right {
    width: 768px;
    height: auto;
    background: #fff;
    float: right;
    margin-bottom: 200px;
    padding: 0 10px
}

.email-person {
    padding: 28px 10px 15px 18px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 36px;
    overflow: hidden
}

.email-person > div {
    float: left
}

.email-person-l {
    width: 328px;
    height: 80px;
    border-right: 1px solid #ddd;
    font-size: 12px
}

.email-person-l a.ui-user-av {
    width: 80px;
    height: 80px;
    float: left;
    margin-right: 20px
}

.email-person-l p {
    line-height: 24px;
    color: #ccc
}

.email-person-l p em {
    color: #ff7800;
    font-size: 14px
}

.email-person-l p.tel {
    color: #666;
    font-size: 14px
}

.email-person-r {
    margin-left: 30px;
    color: #238BCB;
   width: 328px;
    height: 80px;
    border-right: 1px solid #ddd;
    font-size: 12px
}

.email-person-r .process {
    margin-top: 23px;
    width: 300px;
    height: 13px
}

.email-person-r .process span {
    width: 196px;
    height: 13px
}

.email-person-r .process, .email-person-r .process span {
    border-radius: 14px
}

.email-list-wrap {
    width: 596px;
    padding-bottom: 70px;
    margin: 0 auto;
    min-height: 500px;
    position: relative
}

.email-list {
    width: 100%
}

.email-list-item {
    height: 60px;
    border-bottom: 1px dashed #ddd;
    padding: 20px 0 0 10px;
    font-size: 12px;
    color: #999
}

.email-list-item > div {
    float: left
}

.email-list-item-l > div {
    float: left;
    max-width: 250px
}

.email-list-item-l .pic {
    width: 140px;
    margin-right: 15px;
    margin-top: 5px
}

.email-list-item-l .pic > img {
    float: left;
    margin-right: 10px
}

.email-list-item-l .pic p {
    float: left;
    font-size: 16px;
    line-height: 28px;
    font-weight: 700;
    color: #666
}

.email-list-item-l .text p {
    line-height: 20px
}

.email-list-item-l .text em {
    color: #ff9c00
}

.email-list-item-l .safe p {
    line-height: 40px
}

.email-list-item-l .safe span {
    display: block;
    width: 130px;
    height: 6px;
    margin: 16px 10px 0
}

.email-list-item-l .safe em {
    line-height: 40px
}

.email-list-item .email-list-item-r {
    width: 176px;
    float: right;
    line-height: 23px;
    margin-top: 8px;
    margin-right: -20px
}

.email-list-item-r > span {
    width: 41px;
    height: 22px;
    float: left;
    background: url(../images/ico/ic_my_sec_no.png) no-repeat left center;
    padding-left: 20px;
    margin-right: 26px;
    line-height: 22px;
    color: #fff
}

#ds_check {
    margin-left: -6px
}

.email-list-item-r > a, .setting-handler a {
    float: left;
    color: #00a0e9;
    text-decoration: underline
}

.email-list-item-r > a:hover, .setting-handler a:hover {
    text-decoration: underline
}

.email-list-item-r > a:active, .setting-handler a:active {
    text-decoration: underline
}

.email-list-item-r > a:focus, .setting-handler a:focus {
    text-decoration: underline
}

.email-list-item-r i, .setting-handler i {
    color: #ddd
}

.email-mask.hide {
    display: none
}

.mask-tips {
    width: 640px;
    height: 396px;
    border-radius: 4px;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -320px;
    margin-top: -198px
}

.mask-tips .head {
    height: 44px;
    line-height: 44px;
    padding: 0 0 0 23px;
    margin-bottom: 40px;
    background: #D9EBF5;
    color: #666;
    border-radius: 4px 4px 0 0
}

.email-reset-mask-step1 .head, .email-reset-mask-step2 .head {
    margin-bottom: 10px
}

.mask-tips .head span, #trade-bind-off1 {
    float: right;
    width: 44px;
    height: 44px;
    margin-right: 10px;
    background: url(../images/ico/off.png) no-repeat center center;
    cursor: pointer
}

.mask-tip-input {
    padding-left: 60px;
    margin-bottom: 18px;
    line-height: 30px;
    overflow: hidden
}

.mask-tip-input1 {
    margin: 0
}

.email-reset-mask-step2 .mask-tip-input {
    padding-left: 116px
}

.pw-bind-mask-step2 .ps-strong-check {
    font-size: 12px;
    margin-bottom: 18px;
    margin-top: -10px;
    margin-left: 200px
}

.email-reset-mask-step2 .pw-tip-input {
    padding-left: 0;
    margin-left: 100px
}

.email-reset-mask-step2 .mask-tip-input {
    overflow: visible;
    height: 36px
}

.mask-tip-input input {
    padding-left: 12px;
    line-height: 30px;
    border-radius: 4px;
    margin: 0 10px
}

.mask-tip-input > input {
    width: 228px;
    height: 30px
}

.mask-tip-input-l {
    width: 60px;
    line-height: 30px;
    margin-right: 15px;
    text-align: right
}

.new-pw-inp-l {
    width: 80px
}

.reset-pw-tip-inp {
    width: 90px
}

.tips-p1 {
    padding-left: 20px;
    margin-left: 202px;
    line-height: 16px;
    font-size: 12px;
    background: url(../images/ico/ic_tips_error.png) no-repeat left center
}

.tips-p1.hide {
    display: none
}

.pw-tip-input input {
    margin-left: 0
}

.pw-reset-tip-input input {
    margin-left: 0
}

.mask-tip-input-r > input, .mask-tip-input-r > span {
    width: 107px;
    height: 30px;
    line-height: 30px;
    border-radius: 4px
}

.mask-tip-input-r > input {
    border: 1px solid #ddd;
    padding-left: 10px
}

.mask-tip-input-r > span {
    border: 1px solid #238bcb;
    text-align: center;
    color: #238bcb;
    cursor: pointer;
    font-size: 12px
}

#get-code.disable, #get-code2.disable, #get-cold.disable, #pw-get-cold.disable, #trade-get-cold.disable {
    border: 1px solid #ddd;
    color: #ddd
}

.mask-tip-input p {
    padding-left: 20px;
    background: url(../images/ico/ic_tips_error.png) no-repeat left center
}

.mask-tip-input {
    position: relative
}

.mask-tip-input .note {
    display: none;
    position: absolute;
    left: 370px;
    top: 2px
}

.mask-tip-input .note.ok {
    background: url(../images/ico/ic_tips_OK.png) no-repeat center left;
    width: 13px;
    height: 100%;
    top: 0
}

.mask-tip-input .note.error {
    left: 94px;
    top: -32px
}

::-webkit-input-placeholder {
    color: #999;
    font-size: 12px
}

:-moz-placeholder {
    color: #999;
    font-size: 12px
}

::-moz-placeholder {
    color: #999;
    font-size: 12px
}

:-ms-input-placeholder {
    color: #999;
    font-size: 12px
}

.mask-tip-input p, .mask-tip-input input {
    font-size: 12px
}

.mask-tips .submit {
    width: 238px;
    height: 44px;
    line-height: 44px;
    text-align: center;
    color: #fff;
    background: #238BCB;
    border-radius: 4px;
    font-size: 14px;
    margin: 0 0 0 145px;
    cursor: pointer
}

#submit.disable {
    background: #ccc
}

.repeat-submit {
    text-align: right;
    font-size: 12px;
    color: #999;
    line-height: 44px;
    margin-top: 0;
    background: 0 0;
    display: none
}

.repeat-submit.current {
    display: block
}

.repeat-submit-a {
    color: #238bcb
}

.mask-tips .Warm {
    width: 457px;
    height: 88px;
    background: #E9F6FF;
    position: absolute;
    left: 67px;
    bottom: 44px;
    font-size: 12px;
    color: #656565;
    padding-left: 17px
}

.mask-tips .Warm .Warm-t {
    padding: 18px 0 5px 15px;
    background: url(../images/ico/w.png) no-repeat left 20px;
    color: #FD9B03
}

.mask-tips .Warm .Warm-b {
    padding-left: 15px;
    padding-right: 15px
}

.success-tips {
    width: 583px;
    height: 290px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -145px;
    margin-left: -291px;
    border-radius: 4px;
    background: #fff
}

.success-tips.current {
    display: block
}

.success-tips .off {
    position: absolute;
    width: 20px;
    height: 20px;
    top: 15px;
    right: 20px;
    cursor: pointer
}

.success-pic {
    padding: 90px 0 0 88px
}

.success-text {
    margin-left: 30px;
    color: #333
}

.success-text .success-text-t {
    font-size: 22px;
    padding: 15px 0 26px;
    line-height: 30px;
    color: #FF9B00
}

.bank-bind {
    position: relative
}

.bank-bind-hint {
    text-decoration: underline;
    color: #00a0e9;
    margin-left: 15px;
    cursor: pointer
}

.bank-bind-hint:hover {
    text-decoration: underline
}

.bank-bind .bank-bind-in > p {
    line-height: 22px
}

.email-reset-mask {
    overflow: hidden
}

.email-reset-mask-step1.hide {
    display: none
}

.email-reset-mask-step {
    width: 438px;
    height: 85px;
    margin: 15px auto 47px;
    background: url(../images/ico/pic_my_acc_01.png) no-repeat center bottom
}

.email-reset-mask-step .email-reset-mask-step-text span {
    float: left;
    width: 33.333%;
    color: #999;
    line-height: 25px
}

.email-reset-mask-step .email-reset-mask-step-text .email-reset-mask-step-text-1 {
    text-align: left;
    color: #238BCB
}

.email-reset-mask-step-text-2 {
    text-align: center
}

.email-reset-mask-step-text-3 {
    text-align: right
}

.email-reset-mask-tel {
    overflow: hidden
}

.email-reset-mask-tel > div {
    float: left
}

.email-reset-mask-tel .email-reset-mask-tel-l {
    width: 175px;
    margin-right: 25px;
    text-align: right;
    color: #656565;
    line-height: 33px
}

.email-reset-mask-tel .email-reset-mask-tel-r {
    line-height: 33px
}

.email-reset-mask-inp {
    margin-top: 15px
}

.email-reset-mask-tel-r {
    color: #F70
}

.email-reset-mask-inp-l-r input, .email-reset-mask-inp-l-r > .btn-msg {
    display: block;
    width: 115px;
    height: 33px;
    line-height: 33px;
    border-radius: 4px;
    border: 1px solid #ddd
}

.email-reset-mask-inp-l-r input {
    width: 100px;
    padding-left: 15px;
    margin-right: 5px
}

.email-reset-mask-inp-l-r > .btn-msg {
    text-align: center;
    border: 1px solid #238BCB;
    color: #238BCB;
    cursor: pointer;
    font-size: 12px
}

.email-reset-mask-yes {
    width: 238px;
    height: 44px;
    text-align: center;
    line-height: 44px;
    border-radius: 4px;
    color: #fff;
    background: #238BCB;
    margin: 18px auto 0;
    cursor: pointer
}

.email-reset-mask-yes.disable {
    background: #ccc
}

.email-reset-mask-step2 {
    height: 528px;
    margin-top: -264px
}

.email-reset-mask-step2.hide, .email-reset-mask-step4.hide {
    display: none
}

.email-reset-mask-step2 .email-reset-mask-tel-l {
    width: 190px;
    height: 33px;
    line-height: 33px;
    color: #656565;
    margin-right: 12px
}

.email-reset-mask-tel #new-email-inp {
    width: 220px;
    height: 33px;
    line-height: 33px;
    padding-left: 15px;
    border-radius: 4px;
    color: #C8C8C8
}

.email-reset-mask-step2 .email-reset-mask-yes {
    margin-top: 18px
}

.email-reset-mask-step2 .email-reset-mask-step-text .email-reset-mask-step-text-2 {
    color: #238BCB
}

.email-reset-mask-step2 .email-reset-mask-step {
    margin-bottom: 35px
}

.email-reset-mask-step2 .email-reset-mask-step {
    background: url(../images/ico/pic_my_acc_02.png) no-repeat center bottom
}

.email-reset-mask-step2 .Warm {
    background: #E9F6FF;
    position: absolute;
    left: 50%;
    bottom: 35px;
    margin-left: -237px;
    font-size: 12px;
    color: #656565
}

.email-null {
    height: 33px;
    line-height: 33px;
    font-size: 12px;
    margin-left: 15px;
    padding-left: 15px
}

.email-null.error, .mask-tips .error, #pw-hide2.error, #new-pw.error, #pw-old-inp.error, #pw-new-inp.error {
    color: #ff7800;
    background: url(../images/ico/ic_tips_error.png) no-repeat left center
}

.email-null.ok, .mask-tips .ok, #pw-hide2.ok, #new-pw.ok, #pw-old-inp.ok, #pw-new-inp.ok {
    background: url(../images/ico/ic_tips_OK.png) no-repeat left center;
    color: #238bcb
}

.email-reset-mask-step3 {
    display: none
}

.email-reset-mask-step2 .email-reset-mask-no {
    width: 238px;
    height: 44px;
    margin: 0 auto;
    line-height: 44px;
    font-size: 12px;
    color: #999;
    text-align: right
}

.email-reset-mask-step2 .Warm.down {
    bottom: 30px
}

.email-reset-mask-step2 .email-reset-mask-no {
    display: none;
    color: #999
}

.email-reset-mask-step2 .email-reset-mask-no.current {
    display: block
}

.email-reset-mask-step2 .email-reset-mask-no .send {
    color: #238BCB;
    cursor: pointer
}

.email-reset-mask-step2 .pw-reset-tip-input {
    padding-left: 40px;
    margin: 0
}

.email-reset-mask-step4 .email-reset-mask-step-text .email-reset-mask-step-text-3 {
    color: #238BCB
}

.email-reset-mask-step4 .email-reset-mask-step-text .email-reset-mask-step-text-2 {
    color: #238BCB
}

.email-reset-mask-step4 .email-reset-mask-step {
    background: url(../images/ico/pic_my_acc_03.png) no-repeat center bottom
}

.email-reset-mask-success {
    padding: 20px 0 0 152px
}

.email-reset-mask-success-r {
    margin-left: 20px
}

.email-reset-mask-success-r .p1 {
    color: #FF9B00;
    font-size: 20px;
    padding: 6px 0 10px
}

.email-reset-mask-success-r .p2 {
    color: #999
}

.status1 {
    background: url(../images/ico/status_reg_1.png) no-repeat
}

.status2 {
    background: url(../images/ico/status_reg_2.png) no-repeat
}

.status3 {
    background: url(../images/ico/status_reg_3.png) no-repeat
}

.email-list-item-r .now {
    background-image: url(../images/ico/ic_my_sec_on.png)
}

.email-list-item-r .remove {
    background-image: url(../images/ico/ic_my_sec_no.png)
}

.email-list-item-r .hide {
    display: none
}

.link-col {
    width: 85px
}

.link-col > .fir {
    margin-top: -10px
}

.email-reset-mask.hide {
    display: none
}

.mask-tips.hide {
    display: none
}

.success-tips.hide {
    display: none
}

.forget-pw {
    line-height: 30px;
    padding-left: 330px
}

.forget-pw a {
    color: #238bcb;
    font-size: 12px
}

.new-reset-pw {
    color: #999;
    font-size: 12px;
    padding: 5px 0 5px 168px;
    line-height: 24px
}

.pw-reset-new .new-reset-pw {
    padding-left: 152px
}

.pw-reset-new .pw-reset-mask-yes {
    margin-top: 20px;
    margin-left: 145px
}

.email-reset-mask-step2 .pw-reset-tip-input-top {
    margin-top: 40px
}

.email-reset-mask-yes.disable {
    background: #ccc
}

.common-mask {
    top: 0;
    left: 0
}

.common-mask .txt {
    border: 1px solid #ccc;
    color: #333;
    padding: 0 12px;
    height: 32px;
    line-height: 32px;
    margin: 0 10px
}

.common-mask .txt.fail ~ .error {
    display: block
}

.common-mask .txt.pass ~ .ok {
    display: block
}

.common-mask .txt.readonly {
    border: 0 !important;
    display: inline-block;
    vertical-align: middle
}

.common-mask .txt:focus {
    border: 1px solid #238bcb
}

.trade-bind-mask-step2 input {
    padding-left: 0
}

.trade-bind-mask-step2 .note.error {
    top: 0;
    left: 370px
}

.disable {
    cursor: not-allowed !important
}

.tips-p, .tips-p1 {
    color: #F70;
    font-size: 12px;
    line-height: 24px
}

#pw-hide1.stats0 {
    height: 20px;
    width: 142px;
    background: url(../images/ico/status_reg_0.png) no-repeat left bottom
}

#pw-hide1.stats1 {
    height: 20px;
    width: 142px;
    background: url(../images/ico/status_reg_1.png) no-repeat left bottom
}

#pw-hide1.stats2 {
    height: 20px;
    width: 142px;
    background: url(../images/ico/status_reg_2.png) no-repeat left bottom
}

#pw-hide1.stats3 {
    height: 20px;
    width: 142px;
    background: url(../images/ico/status_reg_3.png) no-repeat left bottom
}

.alert-modal {
    z-index: 9999 !important
}

.disable {
    background: #ccc !important;
    color: #fff !important
}

.error_tips {
    font-size: 12px;
    color: #ff9c00;
    padding-left: 16px;
    background: url(../images/ico/ic_tips_error.png) no-repeat left center;
    margin-left: 200px;
    line-height: 24px
}

.error_tips.hide {
    display: none
}

#new-email-send.disable {
    background: #ccc
}

a.ui-user-av {
    position: relative;
    display: inline-block;
    width: 80px;
    height: 80px;
    overflow: hidden
}

a.ui-user-av input {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    opacity: 0
}

.modal-email .err-tips {
    height: 16px;
    margin-top: -12px;
    margin-bottom: 12px;
    margin-left: 147px
}

.modal-email-2 .err-tips {
    margin-top: 0;
    margin-left: 202px
}

.list-item-l-risk .text {
    max-width: 220px
}

.lh-40 {
    line-height: 40px !important
}

.cg-fail-reason {
    display: inline-block;
    max-width: 180px;
    vertical-align: bottom
}

.float-label-tips.label-tips-blue2.label-tips-dir-btm {
    display: block;
    top: auto !important;
    left: 67px;
    width: 200px;
    bottom: 28px;
    word-break: break-all
}

.tips-p-reset-mail {
    margin-left: 200px
}

.common-mask select.txt {
    padding: 6px 0 6px 12px \9;
    line-height: 20px \9
}

body .modal-input-style1 input {
    border: 1px solid #ccc;
    color: #333
}

body .modal-input-style1 input:-ms-input-placeholder {
    color: #999
}

@-webkit-keyframes menuSlideDown {
    from {
        -webkit-transform: translateY(-9px) scale(1, .98);
        transform: translateY(-9px) scale(1, .98);
        opacity: .75
    }
    to {
        -webkit-transform: translateY(0) scale(1, 1);
        transform: translateY(0) scale(1, 1);
        opacity: 1
    }
}

@keyframes menuSlideDown {
    from {
        -webkit-transform: translateY(-9px) scale(1, .98);
        transform: translateY(-9px) scale(1, .98);
        opacity: .75
    }
    to {
        -webkit-transform: translateY(0) scale(1, 1);
        transform: translateY(0) scale(1, 1);
        opacity: 1
    }
}

@-webkit-keyframes menuSlideLeft {
    from {
        -webkit-transform: translateX(10px) scale(0.95);
        transform: translateX(10px) scale(0.95);
        opacity: .75
    }
    to {
        -webkit-transform: translateY(0) scale(1, 1);
        transform: translateY(0) scale(1, 1);
        opacity: 1
    }
}

@keyframes menuSlideLeft {
    from {
        -webkit-transform: translateX(10px) scale(0.95);
        transform: translateX(10px) scale(0.95);
        opacity: .75
    }
    to {
        -webkit-transform: translateY(0) scale(1, 1);
        transform: translateY(0) scale(1, 1);
        opacity: 1
    }
}

#header {
    background: #fff;
    min-width: 1160px;
    position: relative;
    z-index: 101
}

#header:hover {
    box-shadow: 0 2px 12px -5px rgba(0, 0, 0, .15)
}

.header-top {
    background: #fff;
    border-bottom: solid 1px #eee;
    padding: 6px 0
}

.header-top-nav {
    padding-top: 6px
}

.header-top-nav a {
    color: #9b9b9b
}

.header-top-nav li {
    float: left;
    border-left: solid 1px #e5e5e5;
    padding-left: 12px;
    margin-left: 12px;
    line-height: 24px;
    position: relative
}

.header-top-nav li:hover > .qrcode-dropdown {
    display: block
}

.qrcode-dropdown {
    display: none;
    position: absolute;
    z-index: 1008;
    top: 29px;
    left: 3px;
    height: 110px;
    width: 110px;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, .35);
    -webkit-animation: menuSlideDown .37s cubic-bezier(0.02, .51, .42, 1);
    animation: menuSlideDown .37s cubic-bezier(0.02, .51, .42, 1)
}

.icon-wechat_hover {
    background: url(../images/ico/sy0_03.jpg) no-repeat top
}

.icon-phone_hover {
    background: url(../images/ico/1479438058.png) no-repeat top
}

.over-hidden_a {
    position: relative
}

.ground_tips {
    background: url(../images/ico/ground_tips.png) no-repeat left;
    height: 9px;
    width: 9px;
    position: absolute;
    right: 100px;
    top: 15px;
    z-index: 100
}

.member-menu {
    width: 118px;
    display: block
}

.member-menu:hover > .header {
    background: #238cbc;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}

.member-menu:hover > .header > a {
    color: #fff
}

.member-menu:hover > .header:after {
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    border-top-color: #fff
}

.member-menu:hover > .member-dropdown-menu {
    display: block
}

.member-menu .header {
    display: block;
    width: 93px;
    height: 37px;
    line-height: 37px;
    color: #238bcb;
    padding-left: 25px;
    border: 1px solid #238cbc;
    background: #fff;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    z-index: 102
}

.member-menu .header:after {
    content: ' ';
    display: block;
    position: absolute;
    top: 17px;
    left: 86px;
    -webkit-transition: -webkit-transform .27s ease;
    transition: -webkit-transform .27s ease;
    transition: transform .27s ease;
    transition: transform .27s ease, -webkit-transform .27s ease;
    -webkit-transform-origin: center 25%;
    -ms-transform-origin: center 25%;
    transform-origin: center 25%;
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-top-color: #238bcb
}

.member-menu .header > a {
    display: block;
    height: 100%;
    color: #238bcb
}

.member-menu .header > a:active {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97)
}

.member-dropdown-menu {
    display: none;
    box-shadow: 0 10px 25px -5px rgba(0, 0, 0, .35);
    z-index: 101;
    position: absolute;
    right: -2px;
    top: 38px;
    width: 118px;
    background: #fff;
    padding-bottom: 10px;
    border: 1px solid #238bcb;
    border-radius: 0 0 3px 3px;
    -webkit-animation: menuSlideDown .37s cubic-bezier(0.02, .51, .42, 1);
    animation: menuSlideDown .37s cubic-bezier(0.02, .51, .42, 1);
    -webkit-transform-origin: top;
    -ms-transform-origin: top;
    transform-origin: top
}

.member-dropdown-menu dd {
    height: 36px;
    text-align: center;
    background: url(../images/ico/line_home_a.png) no-repeat bottom;
    position: relative
}

.member-dropdown-menu dd.last {
    background: 0 0;
    color: #238bcb
}

.member-dropdown-menu dd:hover {
    color: #fff;
    background: #238bcb;
    margin-top: -1px;
    padding-top: 1px;
    box-shadow: 0 2px 8px -3px rgba(0, 0, 0, .3)
}

.member-dropdown-menu dd:hover > a {
    color: #fff;
    font-size: 14px;
    border-bottom: 0
}

.member-dropdown-menu dd > a {
    font-size: 14px;
    display: block;
    height: 35px;
    line-height: 35px;
    color: #238bcb
}

.member-dropdown-menu dd > a:active {
    -webkit-transform: scale(0.97);
    -ms-transform: scale(0.97);
    transform: scale(0.97)
}

.member-dropdown-menu dd .rig-pop {
    position: absolute;
    background: #ff9c00;
    width: 22px;
    height: 15px;
    line-height: 15px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    left: 90px;
    top: 10px;
    border-radius: 6px
}

.kefu-wraper {
    float: left;
    position: relative;
    padding: 3px 0 0 30px;
    line-height: 24px;
    color: #666
}

.kefu-wraper strong {
    color: #666;
    font-weight: 400
}

.kefu-wraper strong {
    color: #666;
    font-weight: 400
}

.qxgqdm {
    width: 108px;
    height: 28px;
    float: left;
    margin-left: 30px
}

.qxgqdm a {
    display: block;
    height: 28px;
    background: url(../images/ico/gq.gif) no-repeat left center
}

.qxgqdm a:hover {
    color: #fff
}

.kefu-icon {
    width: 22px;
    height: 21px;
    top: 5px;
    background-image: url(../images/ico/ic_head_hotline.png)
}

.header-top-nav a {
    display: block;
    position: relative
}

.header-top .icon {
    left: 0
}

.icon-phone-wraper > a {
    padding-left: 18px;
    cursor: default
}

.icon-phone {
    width: 12px;
    height: 19px;
    top: 2px;
    background-image: url(../images/ico/ic_head_phone.png)
}

.header-top-nav li.icon-wechat-wraper {
    border: 0
}

.icon-wechat-wraper > a {
    padding-left: 30px;
    cursor: default
}

.icon-wechat {
    width: 23px;
    height: 19px;
    top: 2px;
    background-image: url(../images/ico/ic_head_wechat.png)
}

.header-nav-list li {
    float: left;
    line-height: 40px;
    height: 54px;
    margin-right: 30px;
    text-align: center;
    padding: 0 6px
}

.header-nav-list li a {
    font-size: 16px;
    color: #333;
    display: block;
    height: 100%
}

.header-nav-list li.current {
    border-bottom: 3px #238bcb solid
}

.header-nav-list li:hover {
    border-bottom: 3px #c5e3f5 solid
}

.header-nav-list li.current a {
    color: #238bcb
}

.header-button p {
    float: left;
    width: 86px
}

.header_button_login {
    display: block;
    width: 84px;
    border: solid 1px #0db4ff;
    text-align: center;
    line-height: 37px;
    color: #0db4ff;
    border-radius: 3px
}

.header-nav-wraper {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 22px;
    height: 79px
}

@charset "UTF-8";

@charset "utf-8";
.based {
    width: 100%;
    height: 250px;
    background: #4c4c4c;
    min-width: 1160px
}

.base {
    margin: 0 auto;
    width: 1160px
}

.base_a {
    height: 50px;
    width: 100%;
    overflow: hidden;
    line-height: 50px;
    font-size: 14px;
    color: #909090
}

.base_a .friendship {
    float: left;
    display: inline
}

.base_a .friendship_aa {
    height: 50px;
    line-height: 50px;
    color: #909090
}

.base_a .friendship_aa a {
    display: inline;
    float: left;
    padding-left: 20px;
    color: #909090
}

.base_a .friendship_aa a:hover {
    color: #e4393c
}

.base_b {
    margin-top: 10px
}

.base_b dl {
    float: left;
    width: 150px
}

.base_b dl a {
    display: inline-block;
    margin-bottom: 5px;
    color: #909090
}

.base_b dl a:hover {
    color: #ccc
}

.base_b dl .an {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/ico/sy0_11.jpg) no-repeat;
    margin-right: 5px
}

.base_b dl .ac {
    width: 16px;
    height: 17px;
    display: inline-block;
    background: url(../images/ico/sy0_13.jpg) no-repeat;
    margin-right: 5px
}

.base_b dl .ad {
    width: 16px;
    height: 17px;
    display: inline-block;
    background: url(../images/ico/sy0_15.jpg) no-repeat;
    margin-right: 5px
}

.base_b dl dt a {;
    font-size: 16px;
    margin-bottom: 8px
}

.base_b dl dd {
    text-indent: 12px
}

.base_c {
    overflow: hidden
}

.base_c_a {
    margin-right: 40px;
    float: left
}

.base_c_b {
    float: left;
    margin-left: 20px
}

.base_c_b ul li {
    color: #909090;
    width: 110px;
    text-align: center;
    margin-top: 5px
}

.base_c_c {
    float: left;
    margin-left: 20px
}

.base_c_c ul li {
    color: #909090;
    width: 110px;
    text-align: center;
    margin-top: 5px
}

.base_c_d {
    float: left;
    margin-left: 54px
}

.base_d {
    float: left;
    color: #909090;
    margin-top: 40px;
    margin-left: 40px
}

.base_d .ag i {
    width: 32px;
    height: 29px;
    float: left;
    background: url(../images/ico/sy0_08.jpg) no-repeat;
    margin-right: 5px
}

.base_d .af {
    height: 30px;
    text-align: center;
    line-height: 30px;
    color: #bebebe;
    font-size: 25px;
    margin: 10px 0
}

.base_d .ad {
    margin: 5px 0 0 20px;
    line-height: 30px
}

.base_d .ad i {
    width: 20px;
    height: 12px;
    float: left;
    background: url(../images/ico/sy0_22.jpg) no-repeat;
    margin-right: 5px;
    margin-top: 10px
}

.base_d .ef {
    margin: 5px 0
}

.base_d .ef i {
    width: 15px;
    height: 20px;
    background: url(../images/ico/sy0_28.jpg) no-repeat;
    margin-right: 5px
}

.hesi {
    background-color: #3d3d3d;
    width: 100%;
    height: 100px;
    min-width: 1160px
}

.henge {
    width: 1160px;
    height: 80px;
    margin: 0 auto
}

.henge_a {
    color: #909090;
    height: 40px
}

.henge_a .henge-p {
    text-align: center;
    height: 40px;
    line-height: 40px
}

.henge_a .henge-p a {
    color: #909090;
    text-align: center
}

.henge_a ul li {
    margin: 3px 0
}

.yed > span {
    margin-left: 10px
}

.yed > span > a {
    color: #909090
}

.dey span {
    margin-left: 10px
}

.dey i {
    background: url(../images/ico/sy0_35.jpg) no-repeat;
    width: 20px;
    height: 20px;
    display: inline-block
}

.henge_b {
    margin: 0;
    text-align: center
}

.henge_b ul li {
    display: inline-block;
    margin-left: 10px
}

.henge_b ul li a {
    width: 105px;
    height: 37px;
    display: block
}

.henge_b ul li a.n_b_1 {
    background: url(../images/ico/1.jpg) no-repeat
}

.henge_b ul li a.n_b_1:hover {
    background: url(../images/ico/1-1.jpg) no-repeat
}

.henge_b ul li a.n_b_2 {
    background: url(../images/ico/2.jpg) no-repeat
}

.henge_b ul li a.n_b_2:hover {
    background: url(../images/ico/2-2.jpg) no-repeat
}

.henge_b ul li a.n_b_3 {
    background: url(../images/ico/3.jpg) no-repeat
}

.henge_b ul li a.n_b_3:hover {
    background: url(../images/ico/3-3.jpg) no-repeat
}

.henge_b ul li a.n_b_4 {
    background: url(../images/ico/4.jpg) no-repeat
}

.henge_b ul li a.n_b_4:hover {
    background: url(../images/ico/4-4.jpg) no-repeat
}

.henge_b ul li a.n_b_5 {
    background: url(../images/ico/5.jpg) no-repeat
}

.henge_b ul li a.n_b_5:hover {
    background: url(../images/ico/5-5.jpg) no-repeat
}

.henge_b ul li a.n_b_6 {
    background: url(../images/ico/6.jpg) no-repeat
}

.henge_b ul li a.n_b_6:hover {
    background: url(../images/ico/6-6.jpg) no-repeat
}

#udesk_btn {
    display: none
}

.sus_win {
    width: 44px;
    height: 220px;
    position: fixed;
    right: 20px;
    bottom: 50px;
    z-index: 998;
    will-change: transform
}

.sus-icon {
    display: block;
    height: 44px;
    margin-bottom: 10px;
    cursor: pointer;
    background: url(/modules/widget/suspended/images/ico.png) no-repeat;
    position: relative;
    box-shadow: 0 2px 6px -4px rgba(0, 0, 0, .5);
    border-radius: 5px;
    -webkit-transition: box-shadow .1s;
    transition: box-shadow .1s
}

.sus-icon:hover:after {
    display: block
}

.sus-icon:hover {
    box-shadow: 0 8px 15px -3px rgba(0, 0, 0, .6)
}

.sus-icon:after {
    -webkit-animation: fadeIn .15s ease;
    animation: fadeIn .15s ease;
    display: none;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: url(/modules/widget/suspended/images/ico.png) no-repeat
}

.sus-icon-1 {
    background-position: -88px 0
}

.sus-icon-1:after {
    background-position: 0 -45px
}

.sus-icon-3 {
    background-position: 0 0
}

.sus-icon-3:after {
    background-position: -44px -45px
}

.sus-icon-2 {
    background-position: -44px 0
}

.sus-icon-2 > span {
    width: 283px;
    height: 155px;
    position: absolute;
    top: 0;
    right: 54px;
    background: url(/modules/widget/suspended/images/wei.png) no-repeat left top;
    display: none;
    -webkit-animation: menuSlideLeft .25s cubic-bezier(0.02, .51, .42, 1);
    animation: menuSlideLeft .25s cubic-bezier(0.02, .51, .42, 1);
    -webkit-transform-origin: top right;
    -ms-transform-origin: top right;
    transform-origin: top right;
    box-shadow: -5px 3px 14px -5px rgba(0, 0, 0, .6);
    border-radius: 5px
}

.sus-icon-2:hover > span {
    display: block
}

.sus-icon-2:after {
    background-position: -88px -45px
}

.sus-icon-4 {
    background-position: -132px 0;
    display: none;
    -webkit-animation: fadeIn .5s ease;
    animation: fadeIn .5s ease
}

.sus-icon-4:after {
    background-position: -132px -44px
}

.note {
    display: none;
    padding-left: 16px;
    font-size: 12px
}

.note.note-ok {
    background: url(../images/ico/ic_tips_ok.png) no-repeat center left;
    color: #238bcb
}

.note.note-err {
    background: url(../images/ico/ic_tips_error.png) no-repeat center left;
    color: #ff7800
}

.note.note-nor {
    color: #F90;
    margin-left: -16px
}

.btn-count-down {
    color: #508cee;
    cursor: pointer;
    -webkit-transition: color .2s ease;
    transition: color .2s ease
}

.btn-count-down:hover {
    color: #2b74ea
}

.btn-count-down.disable {
    color: #999;
    cursor: not-allowed
}

.icon-safe {
    background-image: url(../images/ico/icon.png);
    display: inline-block
}

.icon-safe-3 {
    background-position: 0 0;
    width: 130px;
    height: 6px
}

.icon-safe-1 {
    background-position: 0 -6px;
    width: 130px;
    height: 6px
}

.icon-safe-0 {
    background-position: 0 -12px;
    width: 130px;
    height: 6px
}

.icon-safe-2 {
    background-position: 0 -18px;
    width: 130px;
    height: 6px
}

.ps-strong-check-cont em {
    font-style: normal;
    display: inline-block
}

.ps-strong-check-tips {
    display: block;
    height: 24px;
    line-height: 24px
}

.list-deco1 {
    padding-left: 20px;
    line-height: 22px;
    position: relative;
    color: #666
}

.list-deco1:before {
    content: ' ';
    position: absolute;
    top: 7px;
    left: 3px;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 100%;
    background: #d2d2d2
}

.list-deco1 strong {
    color: #f97709;
    font-weight: 400
}

.modal-card-c-a {
    z-index: 5101
}

.modal-card-c-a .alert-content {
    width: 496px;
    height: 528px;
    margin-left: -248px;
    margin-top: -264px;
    background: #fff;
    border-radius: 3px
}

.modal-card-c-a .alert-main {
    padding: 0;
    margin: 30px 40px 0
}

.modal-card-c-a .alert-main .button {
    display: inline-block;
    text-decoration: none;
    line-height: 42px;
    height: 42px;
    width: 211px;
    border: 1px solid #238bcb;
    font-size: 16px
}

.alert-cca-inner {
    line-height: 22px;
    font-size: 13px;
    position: relative;
    color: #444
}

.alert-cca-inner .bigger {
    font-size: 14px
}

.alert-cca-inner .list-deco1 {
    margin-bottom: 25px
}

.alert-cca-inner .list-deco1.fir {
    border-bottom: 1px solid #dfecff;
    padding-bottom: 18px;
    margin-bottom: 22px
}

.idverify-id .verify_bg {
    background-image: url(/modules/widget/verifyIDCard/deco_id.png)
}

.idverify-bg {
    width: 0;
    height: 0;
    overflow: visible
}

.idverify-bg.mask-true {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5200;
    overflow: auto;
    background: rgba(0, 0, 0, .3)
}

.idverify-bg.mask-true .idverify_wraper {
    left: 50%;
    top: 50%;
    margin-top: -173px;
    margin-left: -180px;
    box-shadow: 0 30px 50px -10px rgba(0, 0, 0, .3)
}

.idverify_wraper {
    width: 268px;
    background: #e4f5ff;
    border: solid 1px #a6dbfd;
    border-radius: 5px;
    text-align: center;
    padding: 40px 46px 20px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    height: 285px
}

.idverify_wraper .button {
    height: 43px;
    line-height: 43px
}

.verify_input_wraper {
    position: relative
}

.verify_input_list {
    overflow: hidden
}

.verify_input_list li {
    float: left;
    width: 34px;
    height: 34px;
    border: solid 1px #a6dbfd;
    border-radius: 3px;
    margin-right: 10px;
    overflow: hidden;
    background: #fff;
    position: relative
}

.verify_input_list input {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 7px 0;
    line-height: 20px;
    background: #fff;
    border: 0;
    text-align: center;
    display: none
}

.verify_input_list strong {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #686868;
    left: 50%;
    top: 50%;
    margin-top: -5px;
    margin-left: -5px;
    border-radius: 100%;
    display: none
}

.verify_close {
    width: 30px;
    height: 30px;
    position: absolute;
    right: 10px;
    top: 10px;
    background: url(/modules/widget/verify_6code/close.png) center no-repeat;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    cursor: pointer;
    will-change: transform
}

.verify_close:hover {
    background-image: url(/modules/widget/verify_6code/close_h.png);
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.verify_close:active {
    -webkit-transform: scale(0.9) rotate(90deg);
    -ms-transform: scale(0.9) rotate(90deg);
    transform: scale(0.9) rotate(90deg);
    opacity: .7
}

.verify_bg {
    height: 52px;
    background: url(/modules/widget/verify_6code/ic_pop_key.png) center center no-repeat
}

.verify_bg.error {
    background-image: url(/modules/widget/verify_6code/ic_pop_tips.png)
}

.verify_text {
    padding: 27px 0;
    margin: 0 -30px
}

.verify_button {
    margin-top: 27px
}

.verify_help {
    text-align: right;
    padding-top: 17px
}

.verify_help.help-show-false {
    display: none
}

.verify_help > a {
    font-size: 12px;
    color: #999
}

.verify-error-tips {
    min-height: 44px;
    padding: 10px 0;
    margin-top: 10px;
    color: #ff9c00;
    display: none
}

.verify-error-tips > .tips-short {
    padding: 7px 0 17px
}

.verify-error-tips.more-padding {
    padding-bottom: 14px;
    padding-top: 20px
}

.alert-modal-oa {
    z-index: 9100
}

.alert-modal-oa .alert-content {
    width: 721px;
    height: 362px;
    margin-left: -360px;
    margin-top: -181px;
    background: #fff;
    border-radius: 3px
}

.alert-modal-oa .alert-header {
    background: 0 0;
    border: 0;
    height: 42px
}

.alert-modal-oa .alert-header > .alert-close {
    background: url(../images/ico/close_white.png) #238bcb no-repeat 17px 10px;
    width: 42px;
    height: 42px;
    top: 0;
    right: 0;
    border-bottom-left-radius: 100%;
    -webkit-transition: all cubic-bezier(0.22, 1, .4, 1.75) .3s;
    transition: all cubic-bezier(0.22, 1, .4, 1.75) .3s
}

.alert-modal-oa .alert-header > .alert-close:hover {
    border-bottom-left-radius: 88%;
    background: url(../images/ico/close_white.png) #1f79b1 no-repeat 17px 10px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.alert-modal-oa .alert-header > .alert-close:active {
    border-bottom-left-radius: 82%;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none
}

.alert-modal-oa .alert-main {
    background: 0 0;
    padding: 0;
    margin: 58px 68px 0
}

.alert-modal-oa .alert-main > .link {
    margin: 0 0 29px
}

.alert-modal-oa .alert-main .button {
    display: inline-block;
    text-decoration: none;
    width: auto;
    line-height: 44px;
    height: 44px;
    padding: 0 92px;
    border: 1px solid #238bcb
}

.alert-modal-oa .alert-main .button_white {
    color: #508cee
}

.alert-modal-oa .alert-main .button_white:hover {
    background: #fff;
    color: #238bcb
}

.alert-oa-inner {
    min-height: 186px;
    padding: 1px 0 0;
    font-size: 14px;
    color: #333;
    position: relative
}

.alert-oa-inner .deco-bword {
    display: block;
    height: 23px;
    position: relative;
    z-index: 1
}

.alert-oa-inner .deco-bword > i {
    display: block;
    background: url(../images/ico/bword.png) no-repeat center
}

.alert-oa-inner .note-wrap {
    text-align: center;
    margin-bottom: 27px;
    margin-top: 29px
}

.alert-oa-inner .note-wrap-tradeps {
    margin-top: 6px
}

.alert-oa-inner .note-wrap-tradeps .note {
    background-color: #eff5ff
}

.alert-oa-inner .note {
    border-radius: 20px;
    font-size: 18px;
    font-weight: 700;
    line-height: 23px;
    padding: 9px 20px;
    color: #555;
    background: #eff5ff no-repeat 19px 10px;
    background-color: rgba(174, 205, 255, .2);
    display: inline-block
}

.alert-oa-inner .note-alert-true {
    padding-left: 45px;
    background-image: url(../images/ico/ico_alert.png);
    color: #ff884d;
    font-weight: 400;
    position: relative;
    z-index: 1;
    min-height: 20px
}

.alert-oa-inner .desc {
    text-align: center
}

.alert-oa-inner .desc > a {
    text-decoration: underline;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    color: #238bcb;
    display: inline-block
}

.alert-oa-inner .desc > a:hover {
    -webkit-transform: translateX(2px);
    -ms-transform: translateX(2px);
    transform: translateX(2px)
}

.alert-oa-inner .deco {
    background: url(../images/ico/bg.png) no-repeat;
    width: 335px;
    height: 231px;
    position: absolute;
    top: -190px;
    left: 50%;
    margin-left: -167px;
    z-index: 2
}

.btn-count-2 + .link .button {
    margin: 0 23px;
    padding: 0 55px
}

.deco {
}

.alert-modal-res-s {
    z-index: 9100
}

.alert-modal-res-s .alert-content {
    width: 496px;
    height: 305px;
    margin-left: -248px;
    margin-top: -153px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden
}

.alert-modal-res-s .alert-main {
    background: 0 0;
    padding: 0;
    margin: 26px 25px 0
}

.alert-rs-inner {
    color: #333
}

.alert-rs-inner h4 {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 13px
}

.alert-rs-inner .gray {
    color: #999;
    font-size: 12px;
    line-height: 18px
}

.alert-rs-inner .handler {
    margin-top: 40px;
    margin-left: 47px
}

.alert-rs-inner dl {
    margin-bottom: 25px
}

.alert-rs-inner dt {
    width: 159px;
    height: 42px;
    line-height: 42px;
    text-align: center;
    font-size: 16px;
    margin-right: 22px;
    float: left
}

.alert-rs-inner dd {
    float: left
}

.alert-rs-inner .link {
    line-height: 1;
    margin-top: 5px
}

.alert-rs-inner .link > a {
    font-size: 14px;
    color: #508cee;
    display: inline-block;
    min-width: 70px
}

.alert-rs-inner .link > a:hover {
    text-decoration: underline
}

.alert-rs-inner .succ dt {
    background: url(/modules/cunguan/modalResSelect/succ.png) no-repeat
}

.alert-rs-inner .fail dt {
    background: url(/modules/cunguan/modalResSelect/fail.png) no-repeat
}

.alert-modal-18p {
}

.alert-modal-18p .alert-content {
    width: 496px;
    height: 305px;
    margin-left: -248px;
    margin-top: -153px;
    background: #fff;
    border-radius: 3px;
    overflow: hidden
}

.alert-modal-18p .alert-main {
    background: 0 0;
    padding: 0;
    font-size: 14px;
    color: #333;
    line-height: 22px
}

.alert-modal-18p .desc {
    margin: 43px 0 0 57px;
    background: url(../images/ico/deco_unhappy_66x66.png) no-repeat left center;
    padding-left: 80px;
    font-weight: 700
}

.alert-modal-18p .contact {
    color: #999;
    border: 1px solid #dcdcdc;
    width: 265px;
    height: 28px;
    line-height: 26px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    border-radius: 10px;
    margin: 30px auto 0
}

.alert-modal-18p .link {
    width: 285px;
    margin: auto
}

.alert-18-inner {
    color: #333
}

@charset "UTF-8";
.tips-que {
    font-size: 12px;
    height: 14px;
    width: 14px;
    color: #fff;
    line-height: 14px;
    background: #ff7800;
    border-radius: 50%;
    margin-left: 5px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-align: center
}

.alert-modal.ds-modal .alert-content {
    width: 496px;
    height: 600px;
    margin-top: -300px;
    margin-left: -248px
}

.alert-modal.ds-modal .alert-main {
    margin: 0;
    color: #666
}

.alert-modal.ds-modal .alert-header {
    color: #333
}

.alert-modal.ds-modal-res .alert-content {
    width: 314px;
    height: 120px;
    background-position: 40px 30px
}

.alert-modal.ds-modal-res .alert-main {
    padding-left: 132px;
    margin: 17px 0 0;
    padding-top: 15px
}

.alert-modal.ds-modal-res .alert-main > p {
    margin-top: 4px
}

.ds-modal .banner {
    background: url(/modules/d_signature/ds_banner.jpg) no-repeat center top;
    height: 178px
}

.ds-modal p {
    line-height: 22px;
    margin: 0 0 16px
}

.ds-modal .agree {
    margin-top: 48px;
    font-size: 12px;
    line-height: 19px;
    position: relative
}

.ds-modal label {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
    line-height: 19px
}

.ds-modal label > a {
    color: #508cee
}

.ds-modal label > a:hover {
    text-decoration: underline
}

.ds-modal label input {
    margin-right: 9px
}

.ds-modal label > span {
    padding-left: 22px
}

.ds-modal strong {
    color: #ff7603;
    vertical-align: middle;
    font-weight: 400
}

.ds-modal .button, .ds-modal .button.disable {
    margin-top: 10px;
    height: 44px;
    line-height: 44px;
    font-size: 16px
}

.ds-modal .float-label-tips.ds-tips {
    bottom: -17px;
    right: -194px;
    width: 358px;
    box-shadow: 0 2px 10px -1px rgba(0, 0, 0, .3)
}

.ds-modal .float-label-tips.ds-tips:after {
    top: auto;
    bottom: 20px
}

.ds-modal .float-label-tips.ds-tips .tips-inner {
    padding: 16px 18px 18px 15px;
    color: #999
}

.ds-modal .error {
    color: #ff7603;
    display: none;
    font-size: 12px
}

.ds-modal-cont {
    margin: 0 50px
}

.ds-tips h4 {
    font-size: 16px;
    color: #333;
    line-height: 1.8333
}

.ds-tips ul {
    margin-top: -16px
}

.ds-tips li {
    padding-left: 20px;
    line-height: 22px;
    position: relative
}

.ds-tips li:before {
    content: ' ';
    position: absolute;
    top: 7px;
    left: 3px;
    width: 8px;
    height: 8px;
    display: block;
    border-radius: 100%;
    background: #d2d2d2
}

.risk-mask .mask-tips {
    width: 500px !important;
    margin-left: -250px !important;
    height: 602px !important;
    margin-top: -301px !important
}

.risk-step {
    width: 412px;
    margin: 0 auto
}

.risk-mask .head {
    margin-bottom: 0
}

.risk-first {
    background: url(../images/ico/img_r1.jpg) no-repeat left center;
    width: 412px;
    height: 164px;
    margin: 0 auto
}

.first-txt {
    text-align: right;
    margin: 0 auto;
    width: 412px
}

.first-txt span {
    display: block;
    background-color: #eaf2ff;
    height: 40px;
    line-height: 20px;
    font-size: 15px;
    width: 402px;
    text-align: left;
    color: #5789f8;
    padding: 5px;
    overflow: hidden;
    margin: 0 auto
}

.first-txt p {
    line-height: 20px;
    font-size: 14px;
    padding: 0 10px;
    text-align: left;
    display: block;
    margin-top: 10px;
    color: #646464
}

.risk-tips {
    color: #bfbfbf;
    font-size: 12px;
    width: 402px;
    display: block;
    margin: 0 auto;
    padding: 0 10px
}

.risk-btns {
    text-align: center;
    display: block;
    width: 412px;
    padding: 15px 0;
    overflow: hidden
}

.risk-btns a {
    width: 190px;
    border: 1px solid #508cee;
    border-radius: 3px;
    color: #508cee;
    height: 44px;
    line-height: 44px;
    text-align: center;
    font-size: 12px
}

.risk-btns-test a {
    width: 175px
}

.risk-btn {
    float: left
}

.risk-btns a.Jstep {
    float: right;
    font-size: 15px
}

.risk-btns a.risk-btn-l {
    float: left
}

.risk-btns a.cur {
    background-color: #508cee;
    color: #FFF
}

.risk-step h4.title {
    color: #676767;
    line-height: 22px;
    background: url(../images/ico/r_1.jpg) no-repeat left 22px;
    padding: 15px 0 15px 15px;
    font-size: 18px
}

.risk-step ul.list li {
    display: block;
    height: 53px;
    line-height: 53px;
    background: url(../images/ico/raio2.jpg) no-repeat 20px center;
    padding-left: 65px;
    border-top: 1px solid #f4f4f4;
    cursor: pointer;
    font-size: 12px
}

.risk-step ul.list li.cur {
    background: url(../images/ico/raido_1.jpg) no-repeat 20px center;
    color: #508cee
}

.risk-proccess {
    height: 24px;
    overflow: hidden;
    background: url(../images/ico/icon_r_l.jpg) repeat-x left center;
    width: 251px;
    margin: 15px auto
}

.risk-proccess span {
    background: url(../images/ico/icon_r2.jpg) no-repeat left center;
    text-align: center;
    height: 24px;
    width: 32px;
    color: #999;
    line-height: 24px;
    margin-left: 18px
}

.risk-proccess span.cur {
    background: url(../images/ico/icon_r1.jpg) no-repeat left center;
    color: #FFF
}

.risk-reuslt {
    background: url(../images/ico/risk_rs.jpg) no-repeat center top;
    height: 260px
}

.risk-reuslt label {
    height: 280px;
    line-height: 280px;
    display: block;
    text-align: center;
    color: #4f91e8;
    font-size: 22px;
    font-weight: 700
}

.risk-step-bottom {
    position: absolute;
    left: 44px;
    bottom: 20px
}

@-webkit-keyframes fadeInLeft {
    from {
        -webkit-transform: translateX(-8px) scale(0.9);
        transform: translateX(-8px) scale(0.9);
        opacity: .5
    }
    to {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
        opacity: 1
    }
}

@keyframes fadeInLeft {
    from {
        -webkit-transform: translateX(-8px) scale(0.9);
        transform: translateX(-8px) scale(0.9);
        opacity: .5
    }
    to {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
        opacity: 1
    }
}

@-webkit-keyframes fadeInRight {
    from {
        -webkit-transform: translateX(8px) scale(0.9);
        transform: translateX(8px) scale(0.9);
        opacity: .5
    }
    to {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
        opacity: 1
    }
}

@keyframes fadeInRight {
    from {
        -webkit-transform: translateX(8px) scale(0.9);
        transform: translateX(8px) scale(0.9);
        opacity: .5
    }
    to {
        -webkit-transform: translateX(0) scale(1);
        transform: translateX(0) scale(1);
        opacity: 1
    }
}

@-webkit-keyframes fadeInBtm {
    from {
        -webkit-transform: translateY(8px) scale(0.9);
        transform: translateY(8px) scale(0.9);
        opacity: .5
    }
    to {
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
        opacity: 1
    }
}

@keyframes fadeInBtm {
    from {
        -webkit-transform: translateY(8px) scale(0.9);
        transform: translateY(8px) scale(0.9);
        opacity: .5
    }
    to {
        -webkit-transform: translateY(0) scale(1);
        transform: translateY(0) scale(1);
        opacity: 1
    }
}

.float-label-tips {
    display: none;
    z-index: 50;
    position: absolute;
    cursor: default;
    -webkit-animation: fadeInLeft .12s ease;
    animation: fadeInLeft .12s ease;
    -webkit-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    box-shadow: 2px 0 8px -2px rgba(0, 0, 0, .3);
    white-space: normal
}

.float-label-tips.label-tips-blue1 {
    background: url(../images/ico/tips_blue.png) no-repeat center;
    width: 155px;
    height: 45px
}

.float-label-tips.label-tips-blue1 .tips-inner {
    padding: 5px 10px 25px
}

.float-label-tips.label-tips-blue2 {
    background: #fff;
    width: 155px;
    border: 1px solid #238bcb;
    border-radius: 3px
}

.float-label-tips.label-tips-blue2:after {
    content: " ";
    position: absolute;
    display: block;
    width: 7px;
    height: 12px;
    top: 50%;
    margin-top: -6px;
    left: -7px;
    background: url(/pages/product/product_content/module/tips/img/tips_blue_pointer.png)
}

.float-label-tips.label-tips-blue2 .tips-inner {
    padding: 5px 10px
}

.float-label-tips.label-tips-blue2 .strong {
    color: #238bcb
}

.float-label-tips.label-tips-blue2.label-tips-dir-left {
    -webkit-animation: fadeInRight .12s ease;
    animation: fadeInRight .12s ease;
    -webkit-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    box-shadow: -2px 2px 10px -2px rgba(0, 0, 0, .3)
}

.float-label-tips.label-tips-blue2.label-tips-dir-left:after {
    left: auto;
    right: -7px;
    background: url(/pages/product/product_content/module/tips/img/blue_pointer_left.png)
}

.float-label-tips.label-tips-blue2.label-tips-dir-btm {
    -webkit-animation: fadeInBtm .12s ease;
    animation: fadeInBtm .12s ease;
    -webkit-transform-origin: center bottom;
    -ms-transform-origin: center bottom;
    transform-origin: center bottom;
    box-shadow: -2px 2px 10px -2px rgba(0, 0, 0, .3)
}

.float-label-tips.label-tips-blue2.label-tips-dir-btm:after {
    left: 50%;
    background: url(/pages/product/product_content/module/tips/img/blue_pointer_left.png);
    background: none \9;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    top: auto;
    bottom: -12px;
    margin-left: 4px;
    -webkit-transform-origin: top left;
    -ms-transform-origin: top left;
    transform-origin: top left
}

.float-label-tips .tips-inner {
    line-height: 16px;
    font-size: 12px;
    color: #666
}

.float-label-tips .tips-inner > a {
    text-decoration: underline;
    color: #238bcb
}
