<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:jpa="http://www.springframework.org/schema/data/jpa"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
          http://www.springframework.org/schema/tx
            http://www.springframework.org/schema/tx/spring-tx.xsd
             http://www.springframework.org/schema/data/jpa
         http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
        ">
    <!--跟之前的sessionFactory，JPA操作数据库  -->
    <bean id="entityManagerFactory" class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <!--持久模块名称  -->
        <property name="persistenceUnitName" value="dbconfig-test"/>
        <!--数据库连接信息的配置文件  -->
        <property name="persistenceXmlLocation" value="classpath:spring/persistence-test.xml"/>
        <!--jpa适配器  -->
        <property name="jpaVendorAdapter">
            <!--基于hibernate的 -->
            <bean class="org.springframework.orm.jpa.vendor.HibernateJpaVendorAdapter">

            </bean>
        </property>
    </bean>
    <bean id="transactionManager" class="org.springframework.orm.jpa.JpaTransactionManager">
        <!--事物添加的机制  -->
        <property name="entityManagerFactory" ref="entityManagerFactory" />
    </bean>
    <!-- 启用 annotation事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" />
    <!-- 配置Spring Data JPA扫描目录 -->
    <!-- 自动扫描并注入Spring Data JPA -->
    <jpa:repositories base-package="com.jbk" transaction-manager-ref="transactionManager" entity-manager-factory-ref="entityManagerFactory" />
    <context:component-scan base-package="com.jbk.dao,com.jbk.service.impl"/>
</beans>